body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    color: white;
    background-color: #1F2937;
}

ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7e8;
}

.container-one {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    padding: 50px 300px 100px 300px;
    gap: 200px;
}

.espresso-machine {
    width: 400px;
    align-self: center;
}

.text-besides-image {
    align-self: center;
}

.signup {
    background-color: #3882f6;
    color:#f9faf8;
    border-radius: 10px;
    border: 0;
    width: 120px;
    padding: 10px 22px;
    font-weight: bolder;
    font-size: 15px;
}

.center-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.espresso, .latte, .americano, .long-black {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.coffee-type {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.coffee-info {
    max-width: 200px;
    font-size: 18px;
    color: #1F2937;
    font-weight: 300;
}

.container-three {
    background-color: #e5e7eb; 
    padding: 100px 300px ;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.author {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 20px;
    color: #1F2937;
    padding-right: 50px;
}